<div class="container">
<label>Single way data binding</label>
<input
 type="text" class="form-control" (input)="onUpdateServreName($event)">

 <label>two way data binding</label>
 <input
 type="text" class="form-control" [(ngModel)]="serverName">
 </div>

<!-- <p>{{serverName}}</p> -->
 <hr>

<button class="btn btn-primary" 
[disabled]="!allowNewServer"
 (click)="onCreateServer()">Add server</button>

<p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
